.btnLogin {
    margin-bottom: 10px;
    background-color: #007bff;

    &:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: #0056b3;
    }
}

.btnRegister {
    background-color: #6c757d;

    &:hover {
        background-color: #5a6268;
    }
}